@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bellefair');

* {
    font-family: 'Barlow Condensed';
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    body {
        font-size: 1.6rem;
        margin: 0;

        .background {
            width: 100vw;
            height: 100vh;
            position: absolute;
            z-index: -1;
        }
    }
}