@mixin mobile {
    @media (max-width: 426px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin desktop {

    @media (min-width: 1024px) {
        @content;
    }
}

@mixin desktop-large {

    @media (min-width: 1440px) {
        @content;
    }
}

@keyframes hover-btn-explore {
    0% {
        outline: 0rem solid #ffffff1a;
    }

    100% {
        outline: 5rem solid #ffffff1a;
    }
}

@keyframes openMenu {
    0% {
        transform: translateX(100%);
    }
    
    100% {
        transform: translateX(0%);
    }
}

@keyframes closeMenu {
    0% {
        transform: translateX(0%);

    }

    100% {
        transform: translateX(100%);
    }
}