.content-tech {
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    grid-template-rows: repeat(11, 1fr);
    color: $white;
    overflow: hidden;


    @include tablet {
        row-gap: 5rem;
        margin: 5rem 0 0 0;

    }

    @include mobile {
        row-gap: 0rem;
        margin: 2rem 0 0 0;
    }

    .title {
        grid-column: 2/12;
        grid-row: 2/3;
        font-size: 2.8rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        font-weight: initial;

        strong {
            opacity: 30%;
        }

        @include tablet {
            grid-row: 1/2;
            font-size: 2rem;
            letter-spacing: 0.338rem;
        }

        @include mobile {
            font-size: 1.6rem;
            letter-spacing: 0.27rem;
        }
    }

    .tech-info-side {
        grid-column: 2/8;
        grid-row: 3/11;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(11, minmax(0, 1fr));

        @include tablet {
            grid-column: 1/12;
            grid-row: 6/12;
        }

        .tech {
            display: flex;
            gap: 2.6rem;
            grid-column: 1/12;
            grid-row: 1/12;
            align-items: center;
            margin-right: 1rem;

            @include tablet {
                flex-direction: column;
                margin: 0;
            }

            .navigation-tech {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                @include tablet {
                    flex-direction: row;
                }

                .circle-tech {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 8rem;
                    height: 8rem;
                    background: none;
                    border: 0.2rem solid $white-opacity;
                    border-radius: 90rem;
                    font-size: 3.2rem;
                    letter-spacing: 0.2rem;
                    font-family: 'Bellefair';
                    cursor: pointer;

                    &:hover {
                        border: 0.2rem solid $white;
                    }

                    @include tablet {
                        width: 6rem;
                        height: 6rem;
                        font-size: 2.4rem;
                        letter-spacing: 0.15rem;
                    }
                }



                .active {
                    background-color: $white;
                    color: black;
                }
            }

            .text-tech {
                display: grid;
                grid-template-rows: repeat(11, minmax(0, 1fr));
                gap: 0.5rem;

                @include tablet {
                    text-align: center;
                    justify-items: center;
                }

                .subtitle {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    line-height: 1.92rem;
                    letter-spacing: 0.27rem;

                    @include tablet {
                        font-size: 1.6rem;
                        letter-spacing: 0.27rem;
                    }

                    @include mobile {
                        font-size: 1.4rem;
                        letter-spacing: 0.236rem;
                    }
                }

                .name {
                    grid-column: 1/2;
                    grid-row: 2/6;
                    font-family: 'Bellefair';
                    font-size: 5.6rem;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;

                    @include tablet {
                        font-size: 4rem;
                        letter-spacing: 0.338rem;
                    }

                    @include mobile {
                        font-size: 2.4rem;
                    }
                }

                .description-tech {
                    grid-column: 1/2;
                    grid-row: 6/12;
                    font-family: 'Barlow';
                    font-size: 1.8rem;
                    color: $purple-font;
                    line-height: 3.2rem;
                    letter-spacing: .01rem;
                    max-width: 35.1rem;

                    @include tablet {
                        font-size: 1.6rem;
                        line-height: 2.8rem;
                    }

                    @include mobile {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                    }
                }
            }
        }




    }

    .img-side {
        grid-column: 8/12;
        grid-row: 2/11;
        display: flex;
        justify-content: end;
        align-items: center;

        @include tablet {
            grid-column: 1/12;
            grid-row: 2/6;
            max-height: 31rem;
        }

        @include mobile {
            max-height: 17rem;
        }

        .tech-img {
            min-width: 28rem;
            max-width: 48rem;
            display: flex;

            img {
                width: 100%;
            }

            @include tablet {
                min-width: initial;
                max-width: initial;
                width: 100%;
                height: 100%;

            }
        }
    }

}

.slide-fade-enter-active {
    transition: all 1s ease;
}

.slide-fade-leave-active {
    transition: all 0.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateX(5rem);
}